# Data Cleaning Project

In [1]:
#Import Modules

import pandas as pd
import numpy as np
import pymysql as py

In [2]:
df = pd.read_csv('GSAF5.csv', engine='python')

In [3]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

# General Information of DF:

In [4]:
# How many values are present:

df.size

143808

In [5]:
# Num. Rows and Num. Columns: 

df.shape

(5992, 24)

# Handling Missing Info.:

In [6]:
#The function below returns 'True' where there ARE missing values:
df.isna()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5988,False,False,False,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5989,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5990,False,False,False,False,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,True,True
5991,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True

In [7]:
#The sum of the missing values returns 
#0: when there are NO missing values and NUMBERS according to the sum of MISSING values

df.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [8]:
#To know with what type of data are working:

type(df.isna().sum())

pandas.core.series.Series

In [9]:
#Assigning missing values to a variable:

missing_values = df.isna().sum()

In [10]:
#Filtering with '.loc.' in order to obtain only the columns with missing values:

missing_values.loc[missing_values.gt(0)]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [11]:
#To know what type of percentage of values are we misisng:

#This step is useful in order to clarify which columns we should drop.

missing_values[missing_values.gt(0)]/len(df)

Country                   0.007176
Area                      0.067089
Location                  0.082777
Activity                  0.087951
Name                      0.033378
Sex                       0.094626
Age                       0.447430
Injury                    0.004506
Fatal (Y/N)               0.003171
Time                      0.536215
Species                   0.489653
Investigator or Source    0.002503
href formula              0.000167
href                      0.000501
Unnamed: 22               0.999833
Unnamed: 23               0.999666
dtype: float64

In [12]:
#Assigning columns with missing values to a variable in order to manipulate:

missing_values_percentage= missing_values[missing_values.gt(0)]/len(df)

In [13]:
#Getting columns where missing values percentage is greater than 75%:

missing_values_percentage.loc[missing_values_percentage.gt(0.75)].index

Index(['Unnamed: 22', 'Unnamed: 23'], dtype='object')

In [14]:
#Copying df and using df.drop() in order to eliminate the columns with high percentage of missing values:

df_copy1 = df.drop(columns=missing_values_percentage.loc[missing_values_percentage.gt(0.5)].index).copy()

In [15]:
#Copy of data frame without columns: 

df_copy1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,...,FATAL,Y,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [16]:
#Defining a function in order to return columns with missing values to avoid repeating:

def columns_missing_value(df):
    return (df.isna().sum())[df.isna().sum() > 0]

In [17]:
#Remaining columns with missing values:

columns_missing_value(df_copy1)

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
dtype: int64

In [18]:
type(columns_missing_value(df_copy1))

pandas.core.series.Series

In [19]:
missing_values_percentage.loc[missing_values_percentage.gt(0.05)].index

Index(['Area', 'Location', 'Activity', 'Sex ', 'Age', 'Time', 'Species ',
       'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [20]:
#Check Columns that don't appear in DF 

evaluation_columns_1 = ['Area', 'Location', 'Activity', 'Sex ', 'Age', 'Species ']

df_copy1= df_copy1.drop(columns=['href formula', 'href', 'pdf'])

df_copy1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND.0001,ND.0001,2

In [21]:
#From looking at the current state until this point of df_copy1, the columns:'Case Number','Case Number.1',
#'Case Number.2' stand out since it seems they share similar titles and values to evaluate this we will call 
#them separated from the rest as follows.

df_copy1[["Case Number", "Case Number.1", "Case Number.2"]]

       Case Number Case Number.1 Case Number.2
0     2016.09.18.c  2016.09.18.c  2016.09.18.c
1     2016.09.18.b  2016.09.18.b  2016.09.18.b
2     2016.09.18.a  2016.09.18.a  2016.09.18.a
3       2016.09.17    2016.09.17    2016.09.17
4       2016.09.15    2016.09.16    2016.09.15
...            ...           ...           ...
5987       ND.0005       ND.0005       ND.0005
5988       ND.0004       ND.0004       ND.0004
5989       ND.0003       ND.0003       ND.0003
5990       ND.0002       ND.0002       ND.0002
5991       ND.0001       ND.0001       ND.0001

[5992 rows x 3 columns]

In [22]:
#This method is called "Slicing" it presents a risk since if we edit the columns as a slice, it will overwrite 
#the DataFrame, to verify what type of Data a slice the type() method is applied:

type(df_copy1[["Case Number", "Case Number.1", "Case Number.2"]] )

pandas.core.frame.DataFrame

In [23]:
#In order to see if there are duplicated values, the duplicated method is used:

duplicates_casenum = df_copy1.duplicated(["Case Number", "Case Number.1", "Case Number.2"])

In [24]:
duplicates_casenum

0       False
1       False
2       False
3       False
4       False
        ...
5987    False
5988    False
5989    False
5990    False
5991    False
Length: 5992, dtype: bool

In [25]:
#From the example above the duplicates are not explicitly shown, in order to make an informed decision we require 
#to call those duplicated rows alone, for this we filter the data using 'loc':

duplicates_casenum.loc[duplicates_casenum == True]

301     True
393     True
524     True
841     True
1213    True
1376    True
2410    True
2713    True
2838    True
3318    True
3589    True
4983    True
5029    True
5091    True
5121    True
5208    True
dtype: bool

In [26]:
#In fact duplicated rows were found, now these rows are stored in a variable in order to be counted:

true_duplicates_casenum = duplicates_casenum.loc[duplicates_casenum == True]
true_duplicates_casenum .count()

16

In [27]:
df_copy1.sort_values(by=['original order'], inplace=True)

In [28]:
#Looking at the Data Frame there's an "Original Order" Column that suggest an order for the shark attack cases:
#We will set the index of the Data Frame according to this table to order it as suggested.


df_copy1.index = df_copy1['original order']

In [29]:
df_copy1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,original order
original order,,,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND.0001,ND.0001,2
3,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3
4,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4
5,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5
6,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993

In [30]:
duplicates_columns= df_copy1.duplicated()

In [31]:
duplicates_columns.loc[duplicates_columns== True]

Series([], dtype: bool)

In [32]:
duplicates_columns.loc[duplicates_columns== False]

original order
2       False
3       False
4       False
5       False
6       False
        ...
5989    False
5990    False
5991    False
5992    False
5993    False
Length: 5992, dtype: bool

In [33]:
#Checking for unique values in Type:
df_copy1.Type.unique()

array(['Unprovoked', 'Boat', 'Sea Disaster', 'Provoked', 'Invalid',
       'Boating'], dtype=object)

In [34]:
#The column 'Age' has NaN entries where the age is Unknown, replacing "NaN" with "Unknown":
df_copy1['Age'].fillna('Unknown', inplace=True)

In [35]:
df_copy1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,original order
original order,,,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND.0001,ND.0001,2
3,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,Unknown,FATAL,Y,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3
4,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4
5,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5
6,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,Unknown,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993

In [36]:
#The column 'Name' has "male" values instead of "Unknown" where the name is Unknown, replacing "male" and "female"
#with "Unknown" since it's more relevant than the values present for this column:

df_copy1['Name'] = df_copy1['Name'].replace(['male','female',...],'Unknown')

In [37]:
df_copy1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,original order
original order,,,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND.0001,ND.0001,2
3,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,Unknown,FATAL,Y,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3
4,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4
5,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5
6,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,Unknown,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993

In [38]:
#It seems that the column 'Species' has multiple NaN values compared to other columns, for this 
#using '.isna() to return True for Nan values in columns':

df_copy1.isna()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,original order
original order,,,,,,,,,,,,,,,,,,
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
5,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5990,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
5991,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
5992,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
5993,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False

In [39]:
#The information below sets the amount of 'NaN' values in the column 'Species' to 2,934 which is almost
#half of the values in the column:

df_copy1.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                          0
Injury                      27
Fatal (Y/N)                 19
Species                   2934
Investigator or Source      15
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [40]:
#Since  the 'Species' of a shark, might be relevant to when analysing the attacks of sharks
#instead of dropping the column the NaN values will be replaced by 'Unknown'

df_copy1['Species '].fillna('Unknown', inplace=True)
df_copy1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,original order
original order,,,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,Unknown,S.W. Baker,ND.0001,ND.0001,2
3,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,Unknown,FATAL,Y,Unknown,"The Sun, 10/20/1938",ND.0002,ND.0002,3
4,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,Unknown,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4
5,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5
6,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,Unknown,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,43,Lacerations to lower leg,N,Unknown,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,Unknown,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,16,Minor injury to thigh,N,Unknown,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993

In [41]:
#Some columns have information that is not relevant since it's already found in order columns such as:
# the column 'Year', where the information is already provided in 'Date' according to this observation 
#dropping 'Year':

#There's also no need or value to having different columns with the values of Case Number, for this, the duplicated 
#columns will be dropped

df_copy2= df_copy1.drop(columns=['Year', 'Case Number.1', 'Case Number.2'])

In [42]:
df_copy2

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,original order
original order,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,Unknown,S.W. Baker,2
3,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,Unknown,FATAL,Y,Unknown,"The Sun, 10/20/1938",3
4,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,Unknown,"F. Schwartz, p.23; C. Creswell, GSAF",4
5,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, pp. 233-234",5
6,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, p. 234",6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",5989
5990,2016.09.17,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,Unknown,"The Age, 9/18/2016",5990
5991,2016.09.18.a,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,43,Lacerations to lower leg,N,Unknown,"Orlando Sentinel, 9/19/2016",5991
5992,2016.09.18.b,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,Unknown,"Orlando Sentinel, 9/19/2016",5992
5993,2016.09.18.c,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,16,Minor injury to thigh,N,Unknown,"Orlando Sentinel, 9/19/2016",5993

In [43]:
#By calling the column 'Species' to replace the values in the step above, it was noticed that there's a white space 
#following 'Species ' <- this might cause problems to refernece the column in ht efuture for this
#reason, renaming the column:

df_copy2= df_copy2.rename(columns={"Case Number": "Case_Number", "Species ": "Species","Investigator or Source": "Investigator_or_Source" })

#Also in this renaming step all columns with white space on the name will be renamed to a name that has no white spaces.

In [44]:
df_copy2

,Case_Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator_or_Source,original order
original order,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,Unknown,S.W. Baker,2
3,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,Unknown,FATAL,Y,Unknown,"The Sun, 10/20/1938",3
4,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,Unknown,"F. Schwartz, p.23; C. Creswell, GSAF",4
5,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, pp. 233-234",5
6,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, p. 234",6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",5989
5990,2016.09.17,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,Unknown,"The Age, 9/18/2016",5990
5991,2016.09.18.a,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,43,Lacerations to lower leg,N,Unknown,"Orlando Sentinel, 9/19/2016",5991
5992,2016.09.18.b,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,Unknown,"Orlando Sentinel, 9/19/2016",5992
5993,2016.09.18.c,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,16,Minor injury to thigh,N,Unknown,"Orlando Sentinel, 9/19/2016",5993

In [45]:
df_copy2= df_copy2.rename(columns={"original order": "Order" })

In [46]:
df_copy2

,Case_Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator_or_Source,Order
original order,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,Unknown,S.W. Baker,2
3,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,Unknown,FATAL,Y,Unknown,"The Sun, 10/20/1938",3
4,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,Unknown,"F. Schwartz, p.23; C. Creswell, GSAF",4
5,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, pp. 233-234",5
6,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, p. 234",6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",5989
5990,2016.09.17,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,Unknown,"The Age, 9/18/2016",5990
5991,2016.09.18.a,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,43,Lacerations to lower leg,N,Unknown,"Orlando Sentinel, 9/19/2016",5991
5992,2016.09.18.b,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,Unknown,"Orlando Sentinel, 9/19/2016",5992
5993,2016.09.18.c,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,16,Minor injury to thigh,N,Unknown,"Orlando Sentinel, 9/19/2016",5993

In [47]:
df_copy2.reset_index(drop=True, inplace=True)

In [48]:
df_copy2

,Case_Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator_or_Source,Order
0,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,Unknown,S.W. Baker,2
1,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,Unknown,FATAL,Y,Unknown,"The Sun, 10/20/1938",3
2,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,Unknown,"F. Schwartz, p.23; C. Creswell, GSAF",4
3,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, pp. 233-234",5
4,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, p. 234",6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,2016.09.15,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",5989
5988,2016.09.17,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,Unknown,"The Age, 9/18/2016",5990
5989,2016.09.18.a,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,43,Lacerations to lower leg,N,Unknown,"Orlando Sentinel, 9/19/2016",5991
5990,2016.09.18.b,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,Unknown,"Orlando Sentinel, 9/19/2016",5992
5991,2016.09.18.c,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,16,Minor injury to thigh,N,Unknown,"Orlando Sentinel, 9/19/2016",5993

In [49]:
df_copy2.index = df_copy2['Order']

In [50]:
df_copy2

,Case_Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator_or_Source,Order
Order,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,Unknown,S.W. Baker,2
3,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,Unknown,FATAL,Y,Unknown,"The Sun, 10/20/1938",3
4,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,Unknown,"F. Schwartz, p.23; C. Creswell, GSAF",4
5,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, pp. 233-234",5
6,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,Unknown,FATAL,Y,Unknown,"H. Taunton; N. Bartlett, p. 234",6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",5989
5990,2016.09.17,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,Unknown,"The Age, 9/18/2016",5990
5991,2016.09.18.a,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,43,Lacerations to lower leg,N,Unknown,"Orlando Sentinel, 9/19/2016",5991
5992,2016.09.18.b,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,Unknown,"Orlando Sentinel, 9/19/2016",5992
5993,2016.09.18.c,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,16,Minor injury to thigh,N,Unknown,"Orlando Sentinel, 9/19/2016",5993

In [52]:
df_clean = df_copy2.to_csv('GSAF5-clean.csv', index=False)

In [ ]:
#Next steps to be added tot he data cleaning project:
#1.eliminate duplicated 'Order'
#2.Replace NaN values in 'Activity'

#Until this point is the submission for the Data Cleaning Project, 
#this project might be continued later after feedback.